remote:
  host: "media"
  user: "meowton"
  path: "/home/meowton/meowton"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: true
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: true
  exclude: [
  ]
