## Your wifi settings here:
wifi_essid = "BLAH"
wifi_password="1234"

## Add/remove pins that are valid for your ESP. 
selectable_pins=[
    0,2,4,5,12,13,14,15,18,19,21,22,23,25,26,27,32,33,34
]

## Influx db url (optional)
#db="http://192.168.13.22:8086/write?db=meowton2"
db=""

## Influx db scale id
id="test"

## Dont change this (for now)
import display_web
display_class=display_web.Display
run_webserver=True
