## Your wifi settings here:
wifi_essid = "BLAH"
wifi_password="1234"

## Add/remove pins that are valid for your ESP. 
selectable_pins=[
    0,2,4,5,12,13,14,15,18,19,21,22,23,25,26,27,32,33,34
]

## Print realtime weight via serial. usefull during testing/debugging
print_weights=True

## Influx db url (optional)
#db="http://192.168.13.22:8086/write?db=meowton2"
db=""

## Influx db scale id
id="test"

#recommended settings, dont change:
display_serial=True
run_webserver=True
print_weights=False


